@import "tailwindcss";
@plugin "@tailwindcss/typography";

 @plugin "daisyui";
 @plugin "daisyui" {
   themes: all;
 }

/* Hide scrollbar but still scrollable */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
